spring:
  datasource:
    username: credhub_root
    password: credhub_root_secret
    url: jdbc:postgresql:credhub

flyway:
  locations: classpath:/db/migration/common,classpath:/db/migration/postgres

auth_server:
  # Public dummy UAA for local development usage only!
  # Username/password: credhub/password
<<<<<<< HEAD
  url: http://localhost:8080/uaa
  username: admin
  password: adminsecret
=======
>>>>>>> upstream/master
  trust_store: src/test/resources/auth_server_trust_store.jks
  trust_store_password: changeit

encryption:
  provider: internal
  keys:
  - encryption_password: opensesame
    active: true
  - encryption_password: correcthorsebatterystaple
  key_creation_enabled: true
  
security:
<<<<<<< HEAD
  oauth2:
    resource:
      jwt:
        key_value: |
          -----BEGIN PUBLIC KEY-----
          MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0m59l2u9iDnMbrXHfqkO
          rn2dVQ3vfBJqcDuFUK03d+1PZGbVlNCqnkpIJ8syFppW8ljnWweP7+LiWpRoz0I7
          fYb3d8TjhV86Y997Fl4DBrxgM6KTJOuE/uxnoDhZQ14LgOU2ckXjOzOdTsnGMKQB
          LCl0vpcXBtFLMaSbpv1ozi8h7DJyVZ6EnFQZUWGdgTMhDrmqevfx95U/16c5WBDO
          kqwIn7Glry9n9Suxygbf8g5AzpWcusZgDLIIZ7JTUldBb8qU2a0Dl4mvLZOn4wPo
          jfj9Cw2QICsc5+Pwf21fP+hzf+1WSRHbnYv8uanRO0gZ8ekGaghM/2H6gqJbo2nI
          JwIDAQAB
          -----END PUBLIC KEY-----
=======
>>>>>>> upstream/master
  authorization:
    acls:
      # Change to true to enable ACL enforcement
      enabled: false

logging:
  config: src/main/resources/log4j2.properties

server:
  port: 9000
  ssl:
    enabled: true
    key_store: src/test/resources/key_store.jks
    key_password: changeit
    key_alias: cert
    ciphers: ECDHE-ECDSA-AES256-GCM-SHA384,ECDHE-RSA-AES256-GCM-SHA384,ECDHE-ECDSA-AES128-GCM-SHA256,ECDHE-RSA-AES128-GCM-SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
    client_auth: want
    trust_store: src/test/resources/trust_store.jks
    trust_store_password: changeit
    trust_store_type: JKS
    enabled-protocols: TLSv1.2

spring:
  profiles:
    include: dev-h2,dev-remote-uaa
